<!DOCTYPE HTML>
<html>
<head>
<meta charset='utf-8'>
<title> HITPARAD </title>
    <!-- StyleSheet -->
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"  />
    <link href="/static/bootstrap/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <!-- Bootstrap core JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
<!-- Page Specific Plugins -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script src="/static/bootstrap/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="/static/bootstrap/js/tablesorter/tables.js"></script>
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
</head>
<body>
{% block body %}

{% endblock %}
</body>

</html>