{% extends "hitparad.html" %}
        {% block track %}
        <div class="col-lg-6">
         <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
        <tr>
        <th class="header"> Rate
        </th>
        <th class="header"> Track name
        </th>
        <th class="header"> Value
        </th>
        </tr>
        </thead>
        {% for key, value, url in track_hit_parade %}
        <tr>
        <td> {{ loop.index }}</td>
            {% if url=='nothing'%}
            <td><a href="/nothing_found/" target="'_blank">{{ value }}</a> </td>
            {% else %}
            <td><a href="{{url}}" target="'_blank">{{ value }}</a> </td>
            {% endif %}
        <td>{{key }}</td>
        </tr>
      {% endfor %}
            </table>
             <div class="col-lg-6">
            <h4> <a href ='/download_tracks/'> Export Track Hit Parade</a> </h4>
            </div>
        {% endblock %}
        {% block table %}
        {% endblock %}
        {% block showmore_artists %}
        {% endblock %}
        {% block showmore_tracks %}
        {% endblock %}
