{% extends "hitparad.html" %}
        {% block table %}
        <div class="col-lg-6">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
        <tr>
        <th class="header"> Rate
        </th>
        <th class="header"> Artist name
        </th>
        <th class="header"> Value
        </th>
        </tr>
        </thead>
        {% for key, value in artist_hit_parade %}
        <tr id="values">
        <td> {{ loop.index }}</td>
        <td><a href="http://www.lastfm.ru/music/{{ value }}" target="_blank"> {{ value }} </a></td>
        <td>{{key }}</td>
        </tr>
        {% endfor %}
             </table>
          <div class="col-lg-6">
            <h4> <a href ='/download_artist/'> Export Artist Hit Parade</a> </h4>
           </div>
        {% endblock %}
        {% block track %}
        {% endblock %}
        {% block showmore_artists %}
        {% endblock %}
        {% block showmore_tracks %}
        {% endblock %}
