{% extends '_base.html' %}
{% block body %}
<div class="col-lg-12">
    {% block name %}
  <h2>This is a hitparade for {{user}} and his(her) {{limit}} neighbors</h2>
    {% endblock %}
  <div class="row">
    <div class="col-lg-6 ">
      <h3> <a href ='/user/'> Explore more</a> </h3>
    </div>
    <div class="col-lg-6 ">
      <h3> <a href ='/'> Mainpage</a> </h3>
    </div>
  </div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
 {% endif %}
{% endwith %}
  <div class="row">
    <div class="col-lg-12">
        {% block table %}
      <div class="col-lg-6">
      <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
        <tr>
        <th class="header"> Rate
        </th>
        <th class="header"> Artist name
        </th>
        <th class="header"> Value
        </th>
        </tr>
        </thead>
      {% for key, value in artist_hit_parade %}
        {% if loop.index < 11 %}
        <tr id="values">
        <td> {{ loop.index }}</td>
        <td><a href="http://www.lastfm.ru/music/{{ value }}" target="_blank"> {{ value }} </a></td>
        <td>{{key }}</td>
        </tr>
        {% endif %}
      {% endfor %}
           </table>
          <div class="col-lg-6">
            <h4> <a href ="{{url_for('.download_artist', name=user)}}"> Export Artist Hit Parade</a> </h4>
      {% block showmore_artists %}
           <h4> <a href ="{{url_for('.big_hit_parade_artist', name=user)}}" target="_blank"> Show more artists</a>
           </h4>
       {% endblock %}
           </div>
{% endblock %}
      </div>
     </div>
        {% block track %}
        <div class="col-lg-6">
         <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
        <tr>
        <th class="header"> Rate
        </th>
        <th class="header"> Track name
        </th>
        <th class="header"> Value
        </th>
        </tr>
        </thead>
      {% for key, value, url in track_hit_parade %}
        {% if loop.index < 11 %}
        <tr>
        <td> {{ loop.index }}</td>
            <td><a href="{{url}}" target="'_blank">{{ value }}</a> </td>
        <td>{{key }}</td>
        </tr>
        {% endif %}
      {% endfor %}
           </table>
             <div class="col-lg-6">
            <h4> <a href ="{{url_for('.download_tracks', name=user)}}"> Export Track Hit Parade</a> </h4>
                  {% block showmore_tracks %}
             <h4> <a href ="{{url_for('.big_hit_parade_track', name=user)}}" target="_blank"> Show more tracks</a> </h4>
                  {% endblock %}
            </div>
{% endblock %}
      </div>
     </div>
    </div>
  </div>
</div>
{% endblock %}
