<!DOCTYPE html>
<html>
<head>
    <title>Autherization</title>
     <!-- StyleSheet -->
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"  />
</head>
<body>
<div class="row top-center">
    <div class="col-lg-12 text-center ">
        <h2>Sign in</h2>
  <form method="post" action="">
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    <label for="name" class="control-label" ><b>NAME</b>:</label>
              <input type="text" maxlength="50" name="name" /><br />
      <button type="submit" class="btn btn-primary btn-info">Enter</button>
      <input type=hidden name=next value="{{ next }}">
  </form>
</div>
</div>
</body>
</html>